<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .table-container {
            width: 80%;
            max-height: 80vh; /* Adjust the max-height to control scrolling */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: 1px solid #ddd;
            background-color: #fff;
            text-align: center;
        }

        th, td {
            padding: 12px 16px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f7f7f7;
        }
    </style>
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <div class="table-container">
        <table>
            <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>URL</th>
      <th>Start_time</th>
      <th>Availability_Status</th>
      <th>Response_status</th>
      <th>Response_Time(s)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>---phase---</td>
      <td>---1---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:07</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---2---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:11</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---3---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:15</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---4---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:19</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---5---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:23</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---6---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:31</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---7---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:35</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---8---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:39</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---9---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:43</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---10---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:47</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---11---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:55</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---12---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:38:59</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---13---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:03</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---14---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:07</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.01</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---15---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:11</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---16---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:18</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---17---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:22</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <td>---phase---</td>
      <td>---18---</td>
      <td>---of---</td>
      <td>---get---</td>
      <td>---requests---</td>
    </tr>
    <tr>
      <td>www.punna.com</td>
      <td>2023-07-29 19:39:27</td>
      <td>unhandled Exception</td>
      <td>0</td>
      <td>0.01</td>
    </tr>
  </tbody>
</table>
        </table>
    </div>
</body>
</html>